<ul>
    <li>
        <section>
            <h1>Todo List 1</h1>
            <figure><span class="25">25%</span> </figure>

            <h2>History</h2>

            <!-- 
                data points:
                every date has two associated numbers:
                    num open issues
                    num completed issues
            -->

            <figure>
                <dl>
                    <dt>1/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">13</dd>

                    <dt>2/1/2013</dt>
                    <dd class="completed">11</dd>
                    <dd class="open">14</dd>

                    <dt>3/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">16</dd>

                    <dt>4/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">23</dd>

                    <dt>5/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>6/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>7/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>8/1/2013</dt>
                    <dd class="completed">16</dd>
                    <dd class="open">23</dd>

                    <dt>9/1/2013</dt>
                    <dd class="completed">18</dd>
                    <dd class="open">23</dd>
                </dl>
            </figure>
        </section>
    </li>
    
    <li>
        <section>
            <h1>Todo List 2</h1>
            <figure><span class="40">40%</span> </figure>

            <h2>History</h2>

            <!-- 
                data points:
                every date has two associated numbers:
                num open issues
                num completed issues
                -->

            <figure>
                <dl>
                    <dt>1/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">13</dd>

                    <dt>2/1/2013</dt>
                    <dd class="completed">11</dd>
                    <dd class="open">14</dd>

                    <dt>3/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">16</dd>

                    <dt>4/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">23</dd>

                    <dt>5/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>6/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>7/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>8/1/2013</dt>
                    <dd class="completed">16</dd>
                    <dd class="open">23</dd>

                    <dt>9/1/2013</dt>
                    <dd class="completed">18</dd>
                    <dd class="open">23</dd>
                </dl>
            </figure>
        </section>
    </li>
    
    <li>
        <section>
            <h1>Todo List 3</h1>
            <figure><span class="80">80%</span> </figure>

            <h2>History</h2>

            <!-- 
                data points:
                every date has two associated numbers:
                    num open issues
                    num completed issues
            -->

            <figure>
                <dl>
                    <dt>1/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">13</dd>

                    <dt>2/1/2013</dt>
                    <dd class="completed">11</dd>
                    <dd class="open">14</dd>

                    <dt>3/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">16</dd>

                    <dt>4/1/2013</dt>
                    <dd class="completed">10</dd>
                    <dd class="open">23</dd>

                    <dt>5/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>6/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>7/1/2013</dt>
                    <dd class="completed">15</dd>
                    <dd class="open">23</dd>

                    <dt>8/1/2013</dt>
                    <dd class="completed">16</dd>
                    <dd class="open">23</dd>

                    <dt>9/1/2013</dt>
                    <dd class="completed">18</dd>
                    <dd class="open">23</dd>
                </dl>
            </figure>
        </section>
    </li>
</ul>
