<header>
    <img>
    <a>Sign Out </a>
<header>

<h1>My Todo Lists</h1>
<button>New List</h1>

<ul>
    <li>
        <section>
            <header>
                <h1>Another List</h1>
                <a><img />delete</a>
            </header>
            <form>
                <input type="text"></input>
                <button type="submit">Add Todo</button>
            </form>
            <h2>Not Done</h2>
                <ul>
                    <li>
                        <checkbox></checkbox>
                        <p>Pick up the milk</p>
                        <a>remove</a>
                    </li>
                    <li>
                        <checkbox></checkbox>
                        <p>Put down the milk</p>
                        <a>remove</a>
                    </li>
                    <li>
                        <checkbox></checkbox>
                        <p>Pick down the eggs</p>
                        <a>remove</a>
                    </li>    
                </ul>
            <h2>Done</h2>
                <ul>
                    <li>
                        <checkbox></checkbox>
                        <p>Pick up the eggs</p>
                        <a>remove</a>
                    </li>
                </ul>
        </section>
    </li>

    <li>
        <section>
            <header>
                <h1>A Second List</h1>
                <a><img />delete</a>
            </header>
            <form>
                <input type="text"></input>
                <button type="submit">Add Todo</button>
            </form>
            <h2>Not Done</h2>
                <ul>
                    <li>
                        <checkbox></checkbox>
                        <p>And yet another</p>
                        <a>remove</a>
                    </li>   
                </ul>
            <h2>Done</h2>
                <ul>
                    <li>
                        <checkbox></checkbox>
                        <p>Do another thing</p>
                        <a>remove</a>
                    </li>
                </ul>
        </section>
    </li>
</ul>