<div role="main">
    <div class="box">
        <time><i class="fa fa-bell"></i> 7:30 am</time>
        <h2>Wake Up</h2>
        <h2>Me</h2>
        <time class="currentTime">{{ my-current-time| date:'h:mm a' }}</time>
        <button type="submit"><i class="fa fa-pause"></i> Pause</button>
        <button type="submit"><i class="fa fa-check"></i> Confirm</button>
    </div>
    
    <ul class="todos">
        <li data-ng-repeat="todo in lists[0].row[0].Todos | orderBy:'TodoTime'">
            <a  href="/#/lists" >
                <i class="fa fa-2x" data-ng-class="getTaskClass( todo )"></i>
            </a>

            <div class="todo-detail" >
                <div class="todo-collapse">
                    <h3>{{ todo.Type }}</h3>
                    <h2>{{ todo.Title }}</h2>
                    <p>{{ todo.Description }}</p>
                    <div class="triangle"></div>
                    <time>{{ todo.TodoTime | date:'h:mm a' }}</time>
                </div>
            </div>
        </li>
    </ul>
</div>

<section class="sidebar-form">
    <header>
        <h1>Timeline</h1>
    </header>

    <form name="addTodoForm" ng-submit="addTodo(newTodo)">
        <label>Name</label>
        <input type="text" name="Title" ng-model="newTodo.Title" placeholder="Pick up the milk" give-focus required />
        
         <label>Description</label>
        <input type="text" ng-model="newTodo.Description" placeholder="What are you doing?" />

        <label>Date</label>
        <input type="date" ng-model="newTodo.TodoDate"></input>

        <label>Time</label>
        <input type="time" ng-model="newTodo.TodoClockTime"></input>

        <label>Type</label>
        <select ng-model="newTodo.Type" ng-options="o.valb as o.vala for o in options"></select>

        <button type="submit">Add Todo</button>
    </form>

</section>