<form name="loginForm" ng-submit="login()">
    <h1>Login</h1>
    <p><a href="/#register">No login? Register now....</a> </p>

    <dl>
        <dt>
            <label for="Email">Email:</label>
        </dt>
        <dd>
            <input type="email" ng-model="Email" id="Email" name="Email" required />
        </dd>

        <dt>
            <label for="Password">Password:</label>
        </dt>
        <dd>
            <input type="password" ng-model="Password" name="Password" id="Password" required />
        </dd>
    </dl>

    <button ng-disabled="loginForm.$invalid" type="submit">Login</button>

</form>
