<section class="sidebar-form">
    <header>
        <h1>Timeline</h1>
    </header>

    <form name="addTodoForm" ng-submit="addTodo(Title)">
        <label>Name</label>
        <input type="text" ng-model="Title" placeholder="Pick up the milk" give-focus required />

        <label>Date</label>
        <input type="date" ng-model="datetime"></input>

        <label>Time</label>
        <input type="time"></input>

        <label>Type</label>
        <select ng-model="type" ng-options="o.vala for o in options"></select>

        <button type="submit">Add Todo</button>
    </form>

</section>
