@import 'bourbon/bourbon';
@import 'variables';

/**********
 *
 *  Table of contents
 *
 *  1. Global element settings
 *  2. Layout styles for elements and classes
 *  3. Form styles
 *  4. Module/widget/utility classes
 *
 */

/******************************
 * Global Elements
 ******************************/
    *{ 
        @include box-sizing( border-box ); 
    }

    html{ 
        font-size: 10px; 
    }
    
    body{
        font-family: 'Open Sans', sans-serif;
        color: $color-darkgrey;
        background-color: $color-background;
        width: 100%;
        margin:0;
        height:100%;
        position:absolute;
        overflow: hidden;
    }

    p {
        font-size: 1.4rem;
    }

    h1,h2,h3,h4,h5,h6{
    }

    nav, .sidebar-form {
        transition: margin ease-in-out .8s;
    }

/******************************
 * Layout:Anonymous Form Sections
 ******************************/
.anonymous *[role='main'] section {
    width: 225px;
    margin: 0 auto;

    a{
        color: $color-salmon;

        &:hover, &:active {
            color: lighten($color-salmon, 15%);
        }
    }

    label, input, select {
        font-size: 2rem;
    }
}

/******************************
 * Layout:Main
 ******************************/

    .ng-view{
        height: 100%;
    }

    *[role='main']{
        margin: 0 auto;
        float:left;
        /*width: auto;*/
        width: 65%;
        background-color: $color-background;
        height: 100%;

        a {
            color: white;
            &:hover, &:active {
                color: white;
            }
        } 

		.todos li{
			border-left: $color-mediumgrey 1px solid;
		}

		.todos li:last-child{
			@include border-image(linear-gradient(to bottom, $color-mediumgrey, $color-mediumgrey 50%, $color-background 50%) 1);
			border-width:0 0 0 1px;
		}
    }

    .anonymous *[role='main'] {
        margin-left: 14%;
    }

/******************************
 * Layout:Navigation
 ******************************/
    nav{
        color: white;
        background-color: $color-lightgreen;
        height:100%;
        float:left;
        width:15%;
        font-size: $font-size-label;

        h1{
            text-align: center;
            margin:0 auto;
        }

        a{
            color: white;
            display:block;
            text-decoration: none;

            &:hover, &:active {
                color: white;
            }
        }

        a[role='portrait']{
            margin:20px auto;
            height: 70px;
            width: 70px;
            background-color: $color-salmon;
            border-radius:35px;

            span{
                display: none;
            }
        }

        ul{
            list-style: none;
            padding:0;
            text-align: center;

            li{
                padding:10px 0px;

                &:hover{
                    background: darken($color-lightgreen, 10%);
                }
            }
        }

        .fa {
            display: block;
        }
    }

    .anonymous{ 
        nav {
            margin-left: -14%;
            transition: margin ease-in-out .8s;
        }

        .sidebar-form {
            padding-left: 19%;
            margin-right: -19%;
            transition: margin ease-in-out .8s;
        }
    }

/******************************
 * Layout:Sidebar
 ******************************/
    .sidebar-form{
        float:right;
        width:20%;
        height:100%;
        background-color: $color-lightgrey;
        padding-left: 10px;

        input, label, select{
            width:90%;
        }

        button{
            margin-top: 10px;
        }
    }

/******************************
 * Forms
 ******************************/

    label, input, button, select {
        display:block;
        font-size: $font-size-label;
    }

    input, button, select{
        border-radius: 5px;
    }

    input, select{
        padding: .7rem;
        margin-bottom: 1.5rem;
        border: 1px solid $color-bordergrey;

        &.ng-dirty.ng-invalid {
            background-color: $color-error;
            border: 2px solid darken($color-error, 50%);

            &:focus {
                border-color:darken($color-error, 50%);
                outline: 0;
            }
        }
    }

    button{
        border:0;
        padding: 1rem;

        font-size: 1.2rem;
        font-weight:bold;

        color: white;
        background-color: $color-darkgrey;

        &:hover{
            background-color: darken( $color-darkgrey, 30% );
        }

        &[disabled='disabled'] {
            background-color: $color-lightgrey;
        }
    }

/******************************
 * Utility Classes
 ******************************/

    .box {
        background-color:#94cd63;
        color:white;
        font-weight:bold;
        margin:0 auto;
        height:150px;
        width: 200px;
		position: relative;
    }
    .fa-center{
        height:80px;
        width:80px;
        text-align: center;
    }

    .todos{
        margin:0 0 0 50%;
        padding:0;

        list-style-type:none;

        li{
            position: relative;
            display: block;

            a{
                @include transform(translate(-50%,-50%));
                top: 50%;
                width:30px;
                height:30px;
                position: absolute;

                padding:0;

                background-color:$color-lightgreen;
                border-radius: 50%;

                text-align: center;

                i {
                    line-height: 30px;
                }
            }
        }
    }

    .todo-detail{
        position:relative;

        @include clearfix;
    }

    .todos li:nth-child(even) .todo-detail {

        left: -100%;

        margin-right: 50px;

        .triangle{
            @include triangle(14px, $color-bordergrey, right);
            @include transform(translateY(-50%));
            position: absolute;
            right: -14px;
            top: 50%;

            &:after {
                content: ' ';
                display: block;
                @include triangle(14px, white, right);
                position: absolute;
                top: -7px;
                left: -9px;
            }
        }
    }

    .todos li:nth-child(odd) .todo-detail {

        margin-left: 50px;
            
        .triangle{
            @include triangle(14px, $color-bordergrey, left);
            @include transform(translateY(-50%));
            position: absolute;
            left: -14px;
            top: 50%;

            &:after {
                content: ' ';
                display: block;
                @include triangle(14px, white, left);
                position: absolute;
                top: -7px;
                right: -9px;
            }
        }
    }

    .todo-collapse {

        padding: 10px 10px 13px 10px;

        border: 1px solid $color-bordergrey;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 1px 3px 0 $color-lightgrey;

        h2, h3, p, time{
            padding:0;
            margin: 0;
        }

        h2 {
            font-size: 1.4rem;
            white-space: nowrap;
        }

        h3 {
            font-weight: normal;
            white-space: nowrap;
        }

        p, time {
            margin-top: 1em;
            font-size: 1.2rem;
        }

        time {
            position: absolute;
            top: 50%;
            margin-top: 0;
            @include transform(translateY(-50%));
        }
    }

    .todos li:nth-child(even) .todo-collapse {
        float: right;

        time {
            right: -150px;
        }
    }

    .todos li:nth-child(odd) .todo-collapse {
        float: left;

        time {
            left: -150px;
        }
    }
