/* Custom colors */
/**********
 *
 *  Table of contents
 *
 *  1. Global element settings
 *  2. Layout styles for elements and classes
 *  3. Form styles
 *  4. Module/widget/utility classes
 *
 */
/******************************
 * Global Elements
 ******************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #575757;
  width: 100%;
  margin: 0;
  height: 100%;
  position: absolute; }

a {
  text-decoration: none; }

/******************************
 * Layout:Main
 ******************************/
*[role='main'] {
  float: left;
  width: auto; }

/******************************
 * Layout:Navigation
 ******************************/
nav {
  color: white;
  background-color: #94cd63;
  height: 100%;
  float: left;
  width: 15%; }
  nav h1 {
    text-align: center;
    margin: 0 auto; }
  nav a {
    color: white;
    display: block; }
  nav a[role='portrait'] {
    margin: 20px auto;
    height: 80px;
    width: 80px;
    background-color: #f85b5e;
    border-radius: 40px; }
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    nav ul li {
      padding: 10px 0px; }
      nav ul li:hover {
        background: #7ac03d; }

/******************************
 * Layout:Sidebar
 ******************************/
.sidebar-form {
  float: right;
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  padding-left: 10px; }
  .sidebar-form input, .sidebar-form label, .sidebar-form select {
    width: 90%;
    display: block; }
  .sidebar-form button {
    margin-top: 10px;
    background-color: #575757; }
    .sidebar-form button:hover {
      background-color: #0a0a0a; }

/******************************
 * Forms
 ******************************/
input, button, select {
  border-radius: 5px; }

input, select {
  padding: .3rem;
  border: 1px solid #717171; }

button {
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #e5a737; }
  button:hover {
    background-color: #f1cf91; }

/******************************
 * Utility
 ******************************/
.fa-center {
  height: 80px;
  width: 80px;
  text-align: center; }
