/* Custom colors */
/* Fonts */
/**********
 *
 *  Table of contents
 *
 *  1. Global element settings
 *  2. Layout styles for elements and classes
 *  3. Form styles
 *  4. Module/widget/utility classes
 *
 */
/******************************
 * Global Elements
 ******************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #575757;
  width: 100%;
  margin: 0;
  height: 100%;
  position: absolute; }

a {
  text-decoration: none; }

/* To be dropped once new functionality is working */
#obsolete-remove-me {
  display: none; }

/******************************
 * Layout:Main
 ******************************/
*[role='main'] {
  float: left;
  /*width: auto;*/
  width: 65%;
  background-color: #f9fafc;
  padding-top: 100px; }

/******************************
 * Layout:Navigation
 ******************************/
nav {
  color: white;
  background-color: #94cd63;
  height: 100%;
  float: left;
  width: 15%;
  font-size: 1.4rem; }
  nav h1 {
    text-align: center;
    margin: 0 auto; }
  nav a {
    color: white;
    display: block; }
  nav a[role='portrait'] {
    margin: 20px auto;
    height: 80px;
    width: 80px;
    background-color: #f85b5e;
    border-radius: 40px; }
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    nav ul li {
      padding: 10px 0px; }
      nav ul li:hover {
        background: #7ac03d; }

/******************************
 * Layout:Sidebar
 ******************************/
.sidebar-form {
  float: right;
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  padding-left: 10px; }
  .sidebar-form input, .sidebar-form label, .sidebar-form select {
    width: 90%;
    display: block; }
  .sidebar-form button {
    margin-top: 10px;
    background-color: #575757; }
    .sidebar-form button:hover {
      background-color: #0a0a0a; }

/******************************
 * Forms
 ******************************/
label, input, button, select {
  font-size: 1.4rem; }

input, button, select {
  border-radius: 5px; }

input, select {
  padding: .7rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ebeff6; }

button {
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #e5a737; }
  button:hover {
    background-color: #f1cf91; }

/******************************
 * Utility
 ******************************/
.fa-center {
  height: 80px;
  width: 80px;
  text-align: center; }

.todos {
  margin: 0 0 0 50%;
  padding: 0;
  list-style-type: none; }
  .todos li {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 0 100px 0;
    padding: 0;
    background-color: #94cd63;
    border-radius: 50%; }

.todo-detail {
  position: absolute;
  top: -95%;
  min-width: 195px;
  max-width: 500px;
  padding: 10px 10px 13px 10px;
  border: 1px solid #ebeff6;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #f0f0f0; }
  .todo-detail h2, .todo-detail h3, .todo-detail p, .todo-detail time {
    padding: 0;
    margin: 0; }
  .todo-detail h2 {
    font-size: 1.4rem;
    white-space: nowrap; }
  .todo-detail h3 {
    font-weight: normal;
    white-space: nowrap; }
  .todo-detail p, .todo-detail time {
    margin-top: 1em;
    font-size: 1.2rem; }
  .todo-detail time {
    position: absolute;
    top: 23%; }

.todos li:nth-child(even) .todo-detail {
  right: 40px; }
  .todos li:nth-child(even) .todo-detail time {
    right: -100px; }
  .todos li:nth-child(even) .todo-detail .triangle {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 7px;
    border-left-color: #ebeff6;
    position: absolute;
    right: -14px;
    top: 40%; }
    .todos li:nth-child(even) .todo-detail .triangle:after {
      content: ' ';
      display: block;
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 7px;
      border-left-color: white;
      position: absolute;
      top: -7px;
      left: -9px; }

.todos li:nth-child(odd) .todo-detail {
  left: 40px; }
  .todos li:nth-child(odd) .todo-detail time {
    left: -100px; }
  .todos li:nth-child(odd) .todo-detail .triangle {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 7px;
    border-right-color: #ebeff6;
    position: absolute;
    left: -14px;
    top: 40%; }
    .todos li:nth-child(odd) .todo-detail .triangle:after {
      content: ' ';
      display: block;
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 7px;
      border-right-color: white;
      position: absolute;
      top: -7px;
      right: -9px; }
