@import 'bourbon/bourbon';
@import 'variables';

/**********
 *
 *  Table of contents
 *
 *  1. Global element settings
 *  2. Layout styles for elements and classes
 *  3. Form styles
 *  4. Module/widget/utility classes
 *
 */

/******************************
 * Global Elements
 ******************************/
    *{ 
        @include box-sizing( border-box ); 
    }

    html{ 
        font-size: 10px; 
    }
    
    body{
        font-family: 'Open Sans', sans-serif;
        color: $color-darkgrey;
        width: 100%;
        margin:0;
        height:100%;
        position:absolute;
    }

    a{
        text-decoration: none;
    }

    h1,h2,h3,h4,h5,h6{
    }


    /* To be dropped once new functionality is working */
    #obsolete-remove-me{ display:none; }

/******************************
 * Layout:Main
 ******************************/

    *[role='main']{
        float:left;
        /*width: auto;*/
        width: 65%;
        background-color: $color-background;
    }

/******************************
 * Layout:Navigation
 ******************************/
    nav{
        color: white;
        background-color: $color-lightgreen;
        height:100%;
        float:left;
        width:15%;
        font-size: $font-size-label;

        h1{
            text-align: center;
            margin:0 auto;
        }

        a{
            color: white;
            display:block;
        }

        a[role='portrait']{
            margin:20px auto;
            height: 80px;
            width: 80px;
            background-color: $color-salmon;
            border-radius:40px;
        }

        ul{
            list-style: none;
            padding:0;
            text-align: center;

            li{
                padding:10px 0px;

                &:hover{
                    background: darken($color-lightgreen, 10%);
                }
            }
        }

    }

/******************************
 * Layout:Sidebar
 ******************************/
    .sidebar-form{
        float:right;
        width:20%;
        height:100%;
        background-color: $color-lightgrey;
        padding-left: 10px;

        input, label, select{
            width:90%;
            display:block;
        }

        button{
            margin-top: 10px;
            background-color: $color-darkgrey;

            &:hover{
                background-color: darken( $color-darkgrey, 30% );
            }
        }
    }

/******************************
 * Forms
 ******************************/
    label, input, button, select {
        font-size: $font-size-label;
    }

    input, button, select{
        border-radius: 5px;
    }

    input, select{
        padding: .7rem;
        margin-bottom: 1.5rem;
        border: 1px solid $color-bordergrey;
    }

    button{
        border:0;
        padding: 1rem;

        font-size: 1.2rem;
        font-weight:bold;

        color: white;
        background-color: $color-gold;

        &:hover{
            background-color: lighten( $color-gold, 20% );
        }
    }

/******************************
 * Utility
 ******************************/
    .fa-center{
        height:80px;
        width:80px;
        text-align: center;
    }

    .todos{
        margin:0 0 0 50%;
        padding:0;

        list-style-type:none;

        li{
            position: relative;
            display: block;

            a{
                @include transform(translate(-50%,-50%));
                top: 50%;
                width:30px;
                height:30px;
                position: absolute;

                padding:0;

                background-color:$color-lightgreen;
                border-radius: 50%;

                    text-align: center;
                i {
                    line-height: 30px;
                }
            }
        }
    }

    .todo-detail{
        position:relative;

        padding: 10px 10px 13px 10px;

        border: 1px solid $color-bordergrey;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 1px 3px 0 $color-lightgrey;

        h2, h3, p, time{
            padding:0;
            margin: 0;
        }

        h2 {
            font-size: 1.4rem;
            white-space: nowrap;
        }

        h3 {
            font-weight: normal;
            white-space: nowrap;
        }

        p, time {
            margin-top: 1em;
            font-size: 1.2rem;
        }

        time {
            position: relative;
        }
    }

    .todos li:nth-child(even) .todo-detail {
        /*right: 40px;*/
        left: -100%;
        margin-right: 50px;

        time {
            /*right: -100px;*/
        }

        .triangle{
            @include triangle(14px, $color-bordergrey, right);
            @include transform(translateY(-50%));
            position: absolute;
            right: -14px;
            top: 50%;

            &:after {
                content: ' ';
                display: block;
                @include triangle(14px, white, right);
                position: absolute;
                top: -7px;
                left: -9px;
            }
        }
    }

    .todos li:nth-child(odd) .todo-detail {
        /*left: 40px;*/

        margin-left: 50px;

        time {
            /*left: -100px;*/
        }
            
        .triangle{
            @include triangle(14px, $color-bordergrey, left);
            @include transform(translateY(-50%));
            position: absolute;
            left: -14px;
            top: 50%;

            &:after {
                content: ' ';
                display: block;
                @include triangle(14px, white, left);
                position: absolute;
                top: -7px;
                right: -9px;
            }
        }
    }