
/* Custom colors */

$color-darkgrey: rgba(87,87,87,1);
$color-mediumgrey: rgba(113,113,113,1);
$color-lightgrey: lighten($color-darkgrey, 60%);

$color-background: rgba( 249, 250, 252, 1 );
$color-bordergrey: rgba( 235, 239, 246, 1 );

$color-darkgreen: rgba(77,175,154,1);
$color-lightgreen: rgba(148,205,99,1);

$color-salmon: rgba(248,91,94,1);

$color-gold: rgba(229, 167, 55, 1);