
/* Custom colors */
$color-darkgrey: rgba(87,87,87,1);
$color-lightgrey: lighten($color-darkgrey, 60%);
$color-darkgreen: rgba(77,175,154,1);
$color-lightgreen: rgba(148,205,99,1);
$color-salmon: rgba(248,91,94,1);